{% extends "layouts/base.html.twig" %}

{% block titre %}
Magasin

{% endblock %}

{% block main %}
<div class="row title mt-5 text-center">
    {% if app.user %}
    <div>
      Vous êtes connecté en tant que {{ app.user.userIdentifier }}
    </div>
    {% endif %}
    <div class="container mt-3 text-center">
        {% for label,messages in app.flashes %}
        {% for message in messages %}
        <span class="alert alert-{{label}} mt-3">{{ message }}</span>
        {% endfor %}
        {% endfor %}
    </div>
    <h1>Nos articles en promotion</h1>
    <section class="slideshow">
        <div class="slide fade is-active">
          <span class="slide-number">1 / 3</span>
          <figure class="slide-image">
            <img
              src="https://www.w3schools.com/howto/img_nature_wide.jpg"
              alt="Mountain"
            />
            <figcaption>First image</figcaption>
          </figure>
        </div>
    
        <div class="slide fade">
          <span class="slide-number">2 / 3</span>
          <figure class="slide-image">
            <img
              src="https://www.w3schools.com/howto/img_snow_wide.jpg"
              alt="Snow"
            />
            <figcaption>Second image</figcaption>
          </figure>
        </div>
    
        <div class="slide fade">
          <span class="slide-number">3 / 3</span>
          <figure class="slide-image">
            <img
              src="https://www.w3schools.com/howto/img_mountains_wide.jpg"
              alt="Snow"
            />
            <figcaption>Third image</figcaption>
          </figure>
        </div>
    
        <div class="controls">
          <button class="prev">&#10094;</button>
          <button class="next">&#10095;</button>
        </div>
    
        <div class="dots-container">
          <span class="dot is-active" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </section>
{% endblock %}