{% extends 'layouts/base.html.twig' %}

{% block titre %}Réinitialisation{% endblock %}

{% block main %}
<div class="container col-8 offset-2 mt-5">
    <p>
        Un lien pour réinitialiser votre mot de passe a été envoyé a l'adresse renseignée.
        Ce lien expira dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas le mail, vérifiez votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">refaites une demande</a>.</p>
</div>
{% endblock %}
