<footer>
    <div class="container mt-5">
        <footer class="row row-cols-5 py-5 my-5 border-top mt-auto">
            <div class="col-3">
                <p>&copy; MachinShop {{"now"|date("Y")}}</p>
            </div>
            <div class="col-3">
                <h5>Navigation</h5>
                <div>
                    {% for ele in menu %}
                    {% if ele != "Magasin" %}
                    <a href="{{ ele|lower|replace({' ':'-'}) }}">{{ele}}</a><br>
                    {% else %}
                    <a href="/">Magasin</a><br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <h5>Nos partenaires</h5>
            </div>
            <div class="col-3">
                <h5>Newsletter</h5>
                <label>Votre email</label>
                <input type="text">
                <a class="btn btn-primary mt-3">Envoyer</a>
            </div>

        </footer>
    </div>
</footer>
<p>Gloire au steak</p>